html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #121212;
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#map {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.share-location {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px; 
    background-color: #242424;
    border: none;
    border-radius: 50%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 1000; 
}

.location-icon {
    width: 60%;
    height: auto;
}

.share-location.active {
    background-color: #4CAF50; 
}

.logout-button {
    position: relative;
}

.update-status {
    position: absolute;
    top: 525px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
    z-index: 1000;
    font-size: 0.9rem;
}
.update-status span {
    font-weight: bold;
}
.inverted {
    filter: invert(100%);
}
.driver-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #333; 
    color: #fff; 
    text-align: center;
    padding: 10px 0;
    font-size: 1.5rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
    z-index: 1001; 
}
.driver-identity {
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
    z-index: 1000;
    font-size: 0.9rem;
}

}
.update-status {
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
    z-index: 1000;
    font-size: 0.9rem;
}

.logout-button {
    position: absolute;
    bottom: 40px; 
    left: 50%;
    transform: translateX(-50%);

}

.logout-button button {
    background-color: #04AA6D; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 20px; 
    cursor: pointer; 

}

.logout-button button:hover {
    background-color: #008CBA; 
}
